/*---result component---*/
/*index.css*/
/*---result component end---*/

/*------button style section------*/

​.button {
  text-align: center;
  color: red;
}
/*------button style section end------*/

/*------button2 section------*/

​.button2 {
text-align: center;
color: blue;
}
/*------button2 section end------*/


